<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">
  <title th:text="${title}"></title>

</head>
<body>
<header th:fragment="script">
  <script th:fragment="jquery" th:src="@{js/jquery-3.3.1.min.js}" ></script>
  <script th:fragment="script" type="text/javascript" th:src="@{js/script-for-index.js}" ></script>
</header>

<nav  th:fragment="navbar" class="navig">
  <a class="menu_link" th:href="@{/groups}">Groups</a>
  <a class="menu_link" th:href="@{/students}">Students</a>

  <div class="drop">
    <div class="menu_login" ><a class="menu_user" th:href="@{/user}"><p th:text="${userName}"></p></a>
      <a th:href="@{/logout}" class="dropdown">Logout</a>
    </div>
  </div>
  <!--<a class="menu_login" >Sign up</a>-->
</nav>




</body>
</html>
